{% extends 'base.html.twig' %}

{% block title %}Home Page !{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
         <div class="col-lg-6">
             {% if serieWithMostComments %}
                 <h1>Série la plus commentée :</h1>
                 <p>Nom : {{ serieWithMostComments.name }}</p>
                 {{ serieWithMostComments.summary | raw}}
                 <p>Langue : {{ serieWithMostComments.language }}</p>
                 <p>Score : {{ serieWithMostComments.score }}</p>
                 <p>Status : {{ serieWithMostComments.status }}</p>
                 <p>Date : {{ serieWithMostComments.premiere }}</p>
                 <p><img src="{{ base_url~serieWithMostComments.image  }}" /></p>
             {% endif %}
         </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>
{% endblock %}
