{% extends 'base.html.twig' %} 
{% import 'macros.html.twig' as macro %} 
{% block title %}Kino | Toute l'actualité séries TV rassemblée sur un seul site !
{% endblock %} 
{% block body %}



    <div class="presentation">
        <div class="presentation_content">
            <h1>Toute l'actualité séries TV<br> rassemblée sur un seul site !</h1>
            <p></p>
            <a class="button" href="">Découvrir <i class="fas fa-chevron-right"></i></a>
        </div>
        <div class="presentation_image">
            <img src="{{asset("images/breakingBadHome.png") }}" alt=""/>
        </div>
    </div>
    
    <div class="container">
        <h2>Vos dernières <span class="textOrange">recommandations</span></h2>
        <div class="cards">
            {% if seriesRandom %}
            <div class="cards_list">
                {% for serie in seriesRandom %}
                    <div class="card_item">
                        <a href="{{ path('series_show',{'id':serie.id}) }}">
                            <span class="blackBG"></span>
                            {{ macro.serieView(serie) }}
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
         </div>
    </div>
    

    {% if serieWithMostComments is defined  and serieWithMostComments != null%}
    <div class="movie_present most_commented">
        <h3 class="movie_present_pretitle" >La série la <b>plus commentée</b></h3>
        {{ macro.serieView(serieWithMostComments) }}
        <img class="mediator" src="{{asset("images/home/forme_hp_1.svg") }}" alt="">
    </div>
    {% endif %}
    {% if serieMostLike  is defined and serieMostLike != null  %}
    <div class="movie_present trending">
        <h3 class="movie_present_pretitle" >La série <b>favorite</b></h3>
        {{ macro.serieView(serieMostLike) }}
        <img class="mediator" src="{{asset("images/home/forme_hp_2.svg") }}" alt="">
    </div>
    {% endif %}

    {% if serieMostViewed  is defined and serieMostViewed != null%}
    <div class="movie_present most_viewed">
        <h3 class="movie_present_pretitle" >La série la <b>plus vue</b></h3>
        {% if serieMostViewed != null %}
            {{ macro.serieView(serieMostViewed) }}
        {% endif %}
        <img class="mediator" src="{{asset("images/home/forme_hp_1.svg") }}" alt="">
    </div>
    {% endif %}
    

{% endblock %}