{% extends 'base.html.twig' %} 
{% import 'macros.html.twig' as macro %} 
{% block title %}Home Page !
{% endblock %} 
{% block body %}



    <div class="presentation">
        <div class="presentation_content">
            <h1>Lorem ipsum dolor, sit amet </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aspernatur rem. Vel vero necessitatibus
                at, minus
                hic maiores quas consequuntur ad possimus? Cupiditate hic doloremque facere ab quo voluptates
                voluptas!</p>
            <a class="button" href="">Je suis un bouton <i class="fas fa-chevron-right"></i></a>
        </div>
        <div class="presentation_image">
            <img src="{{asset("images/breakingBadHome.png") }}" alt=""/>
        </div>
    </div>

    <!-- <div class="recommandations">
        <div class="recommandation_list">
            <div class="recommandation_item">
                <img src="https://www.mauvais-genres.com/26247/avengers-endgame-original-movie-poster-15x21-in-2019-anthony-russo-robert-downey-jr.jpg"/>
            </div>
            <div class="recommandation_item">
                <img src="https://cdn.shopify.com/s/files/1/1057/4964/products/the-matrix-vintage-movie-poster-original-french-1-panel-47x63.jpg?v=1551323078"/>
            </div>
            <div class="recommandation_item">
                <img src=""/>
            </div>
            <div class="recommandation_item">
                <img src=""/>
            </div>
            <div class="recommandation_item">
                <img src=""/>
            </div>
        </div>
    </div> -->

    <h2>Vos dernières <span class="textOrange">recommandations</span></h2>
    <div class="cards">
        {% if seriesRandom %}
        <div class="cards_list">
            {% for serie in seriesRandom %}
                <div class="card_item">
                    <a href="{{ path('series_show',{'id':serie.id}) }}">
                        <span class="blackBG"></span>
                        {{ macro.serieView(serie) }}
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
     </div>

     <!-- <a href="" class="recommandation_item">
            <h3>Brooklyn Nine-Nine</h3>
            <p class="note"><i class="fa fa-star" aria-hidden="true"></i>8.20</p>
            <span class="blackBG"></span>
            <img src="./img/serie.jpg" alt="">
        </a> -->

    {% if serieWithMostComments is defined  %}
    <div class="movie_present most_commented">
        <h3 class="movie_present_pretitle" >La série la <b>plus commentée</b></h3>
        {{ macro.serieView(serieWithMostComments) }}
        <img class="mediator" src="{{asset("images/home/forme_hp_1.svg") }}" alt="">
    </div>
    {% endif %}
    {% if serieMostLike  is defined %}
    <div class="movie_present trending">
        <h3 class="movie_present_pretitle" >La série <b>favorite</b></h3>
        {{ macro.serieView(serieMostLike) }}
        <img class="mediator" src="{{asset("images/home/forme_hp_2.svg") }}" alt="">
    </div>
    {% endif %}

    {% if serieMostViewed  is defined %}
    <div class="movie_present most_viewed">
        <h3 class="movie_present_pretitle" >La série la <b>plus vues</b></h3>
        {% if serieMostViewed %}
            {{ macro.serieView(serieMostViewed) }}
        {% endif %}
        <img class="mediator" src="{{asset("images/home/forme_hp_1.svg") }}" alt="">
    </div>
    {% endif %}


{% endblock %}