{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>

    {% if series is defined%}
    <div class="cards">
        <div class="cards_list">
            {% for serie in series %}
                <div class="card_item">
                    <a href="{{ path('series_show',{'id':serie.id}) }}">
                        <span class="blackBG"></span>
                    </a>
                    <div class="movie_presentation">
                        <img src="{{ base_url~serie.image }}" alt="{{ serie.name }}" height="400px">
                        <div class="movie_present_desc">
                            <h4 class="movie_present_desc_title">{{ serie.name }}</h4>
                            <p class="movie_summary">{{ serie.summary | raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif %}

            {% set MySeries = []%}
    {% if search is defined %}
        {% for episodes in search %}
            {% if episodes.Series not in MySeries %}
                {% set MySeries = MySeries|merge([episodes.Series]) %}
            {% endif %}
        {% endfor %}
            <div class="cards">
                <div class="cards_list">
        {% for series in MySeries %}
            <div class="card_item">
                <a href="{{ path('series_show',{'id':series.id}) }}">
                    <span class="blackBG"></span>
                </a>
                <div class="movie_presentation">
                    <img src="{{ base_url~series.image }}" alt="{{ series.name }}" height="400px">
                    <div class="movie_present_desc">
                        <h4 class="movie_present_desc_title">{{ series.name }}</h4>
                        <p class="movie_summary">{{ series.summary | raw }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}

    <a href="{{ path('series_new') }}">Create new</a>
{% endblock %}
