{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Series{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>{{ series.name }}</h1>
    </div>
    <div class="row">

        <img src="{{ base_url~series.image  }}"/>
    </div>
    <div class="row">
        <p>Language : {{ series.language }} </p>
        <p>Date : {{ series.premiere ? series.premiere | date('Y-m-d') : '' }}</p>
        <p>Score : {{ series.score ? series.score : 'No score yet'}}</p>
        <p>Status : {{ series.status }}</p>
        <p>Summary : {{ series.summary | raw }}</p>
        <p>Opinion : {{ series.avis ? series.avis : 'No opinion yet' }}</p>
    </div>
        </div>
    {% if is_granted('ROLE_USER') %}
        {{ include('comments/_form.html.twig') }}
    {% endif %}

    {% if comments %}
        <h1>Commentaires : </h1>




        {% for comment in comments  %}
            {% if comment.validated or is_granted('ROLE_ADMIN')%}
            <span>Contenu : {{ comment.content }}</span>{{ macros.bouton(comment) }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}


    <h1>Episodes :</h1>
    {% for keys,season in seasons  %}
        <h3>{{ keys }}</h3>
        {% for episode in season %}
            <a href="{{ path('episodes_show',{'id':episode.id}) }}"><img src="{{ base_url~episode.image  }}"/></a>
            {% endfor %}
    {% endfor %}

    <a href="{{ path('series_index') }}">back to list</a>

    <a href="{{ path('series_edit', {'id': series.id}) }}">edit</a>
</div>

    {{ include('series/_delete_form.html.twig') }}
{% endblock %}
