{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}

    <h1>{{ series.name }}</h1>
    <img src="{{ base_url~series.image  }}"/>
    <p>Language : {{ series.language }}</p>
    <p>Date : {{ series.premiere ? series.premiere | date('Y-m-d') : '' }}</p>
    <p>Score : {{ series.score ? series.score : 'No score yet'}}</p>
    <p>Status : {{ series.status }}</p>
    <p>Summary : {{ series.summary | raw }}</p>
    <p>Opinion : {{ series.avis ? series.avis : 'No opinion yet' }}</p>

    <h1>Commentaires : </h1>

    {% for comment in comments  %}
        {% if comment.validated %}
        <p>Contenu : {{ comment.content }}</p>
        {% endif %}
    {% endfor %}


    <h1>Episodes :</h1>
    {% for keys,season in seasons  %}
        <h3>{{ keys }}</h3>
        {% for episode in season %}
            <a href="{{ path('episodes_show',{'id':episode.id}) }}"><img src="{{ base_url~episode.image  }}"/></a>
            {% endfor %}
    {% endfor %}

    <a href="{{ path('series_index') }}">back to list</a>

    <a href="{{ path('series_edit', {'id': series.id}) }}">edit</a>

    {{ include('series/_delete_form.html.twig') }}
{% endblock %}
