{% extends 'base.html.twig' %}

{% block title %}Episodes index{% endblock %}

{% block body %}
    <div class="container">
    <h1>All Episodes</h1>

        {% for episode in episodes %}
            <div class="row">
                <a href="{{ path('episodes_show',{'id':episode.id}) }}">
                    <img src="{{ episode.image ? base_url~episode.image : base_url~'/img/blanck.jpg'}}">
                </a>
                <span>{{ episode.series.name }} S{{ episode.season }} Episode {{ episode.number }}</span>
                <span>{{ episode.premiere ? episode.premiere | date('Y-m-d') : ''}}</span>
            </div>
           {% else %}
            no records found
        {% endfor %}
    </div>
    {% include 'pagination.html.twig' %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('episodes_new') }}">Create new</a>
    {% endif %}
{% endblock %}
