{% extends 'base.html.twig' %}

{% block title %}Episodes index{% endblock %}

{% block body %}
    <div class="container">
        <h2>All Episodes</h2>
        <div class="cards">
            <div class="cards_list">
            {% for episode in episodes %}
                <div class="card_item">
                    <a href="{{ path('episodes_show',{'id':episode.id}) }}">
                        <span class="blackBG"></span>
                    </a>
                    <a href="{{ path('episodes_show',{'id':episode.id}) }}">
                        <img src="{{ episode.image ? base_url~episode.image : base_url~episode.Series.image}}">
                    </a>
                    <div class="movie_present_desc">
                        <h4 class="movie_present_desc_title">{{ episode.series.name }} S{{ episode.season }} Episode {{ episode.number }}</h4>
                        <p class="movie_summary">{{ episode.premiere ? episode.premiere | date('Y-m-d') : ''}}</p>
                    </div>
                </div>
            {% else %}
                no records found
            {% endfor %}
            </div>
        </div>
    </div>
    {% include 'pagination.html.twig' %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('episodes_new') }}">Create new</a>
    {% endif %}
{% endblock %}
