{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ episode.series.name }} S{{ episode.season }} - Episode {{ episode.number }} ({{ episode.duration }}min)</h1>
    <img src="{{ base_url~episode.image }}">
    <span>Premiere : {{ episode.premiere ? episode.premiere | date('Y-m-d') : ''}}</span>
    <p>Summary : {{ episode.summary |raw }}</p>

</div>

    <a href="{{ path('episodes_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('episodes_edit', {'id': episode.id}) }}">edit</a>
        {{ include('episodes/_delete_form.html.twig') }}
    {% endif %}


{% endblock %}
