{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}

<div class="container">
    <h1><a href="{{ path('series_show',{'id':episode.series.id}) }}">{{ episode.series.name }}</a> S{{ episode.season }} - Episode {{ episode.number }} ({{ episode.duration }}min)</h1>
    <img src="{{ episode.image ? base_url~episode.image :base_url~'/img/blanck.jpg' }}">
    <span>Premiere : {{ episode.premiere ? episode.premiere | date('Y-m-d') : ''}}</span>
    <p>Summary : {{ episode.summary |raw }}</p>
</div>

    <a href="{{ path('series_show',{'id':episode.series.id}) }}">Accès à la série</a>
    <a href="{{ path('episodes_index',{'page':1}) }}">Retour à la liste épisodes</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('episodes_edit', {'id': episode.id}) }}">edit</a>
        {{ include('episodes/_delete_form.html.twig') }}
    {% endif %}


{% endblock %}
