<section class="header">
    {% if is_granted('ROLE_USER') %}
        <a class="" href="#" role="button">
            {{ app.user.username }}
            {% if is_granted('ROLE_ADMIN') %}
                -ADMIN-
            {% endif %}
        </a>
    {% endif %}
    <div class="navbar-items">
        {% if is_granted('ROLE_USER') %}
            <a class="navbar-item" href="{{ path('app_logout') }}" role="button">
                Disconnect
            </a>
            <a class="navbar-item" href="{{ path('home') }}">Index</a>
        {% else %}
            <a class="navbar-item" href="{{ path('episodes_index') }}">Episodes</a>
            <a class="navbar-item" href="{{ path('series_index') }}">Séries</a>
            <a class="navbar-item" href="{{ path('kind_index') }}">Catégories</a>
            <img src="{{ asset('images/logos/Logo_12x.png') }}" alt="logo de Kino" height="100px">
            <a class="navbar-item" href="{{ path('home') }}">Accueil</a>
            <a class="navbar-item" role="button" href="{{ path('app_login') }}">Connexion</a>
            <a class="navbar-item" role="button" href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
    </div>
</section>

