{% macro serieView(serie) %}

    <div class="movie_presentation">
        <img height="400px" src="{{ asset(base_url~serie.image) }}" alt="">
        <div class="movie_present_desc">
            <h4 class="movie_present_desc_title">{{ serie.name }}</h4>
           {{ serie.summary | raw}}
            <a class="button" href="{{ path('series_show',{'id':serie.id}) }}">
                Consulter<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>


{% endmacro %}

{% macro bouton(value) %}

    {% if is_granted('ROLE_ADMIN') %}
        {% if value.validated %}
            <a class="btn btn-danger" href="{{ path('comments_valid',{'id':value.id}) }}">Unvalid</a>
        {% else %}
            <a class="btn btn-success"  href="{{ path('comments_valid',{'id':value.id}) }}">Valid</a>
        {% endif %}
    {% endif %}

{% endmacro %}