{% macro serieView(serie) %}

    <p>Nom : {{ serie.name }}</p>
    {{ serie.summary | raw}}
    <p>Langue : {{ serie.language }}</p>
    <p>Score : {{ serie.score }}</p>
    <p>Status : {{ serie.status }}</p>
    <p>Date : {{ serie.premiere ? serie.premiere|date('Y-m-d') : '' }}</p>
    <p><img src="{{ base_url~serie.image  }}" /></p>

{% endmacro %}