{% if pagination.nbPages > 0 %}
    <ul class="pagination">
        {% if pagination.page > 1 %}
            <li>
                {#Retour à la premiere page#}
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': 1})) }}">
                    Première
                </a>
            </li>
            <li>
                {#Page précédente#}
                <a href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'page': pagination.page-1})) }}">
                    Précédent
                </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
            <li {% if p == pagination.page %}class="active"{% endif %}>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        {% if pagination.page < pagination.nbPages %}
            <li>
                {#Page Suivante#}
                <a href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'page': pagination.page+1})) }}">
                    Suivant
                </a>
            </li>
            <li>
                {#Dernière Page#}
                <a href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'page': pagination.nbPages})) }}">
                    Dernière
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}