{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <h1>My Profile</h1>

        {% for serie in series %}
                <a href="{{ path('series_show',{'id':serie.id}) }}"><img src="{{ base_url~serie.image }}" /></a>
                {{ serie.name }}
        {% else %}
                 <h1>PAS VU DE SERIE</h1>
        {% endfor %}

    <h1>Mes commentaires :</h1>
        {% for comment in comments %}
            <div class="row">
                <span>Contenu : {{ comment.content }}</span>
                <span>{{ comment.validated ? 'Validé' : 'Pas encore validé' }}</span>
                <span>Date : {{ comment.createdAt ? comment.createdAt | date('d-m-Y : H:i') : ''}}</span>
                <span>Nom série : <a href="{{ path('series_show',{'id':comment.Series.id}) }}">{{ comment.Series.name }}</a></span>
            </div>
            <br>
        {% endfor %}

    <h1>Statistiques :</h1>
    <table>
        <tr>
            <th>Total épisodes vus</th>
            <th>Temps total</th>
            <th>Nombre commentaires</th>
        </tr>
        <tr>
            <td>{{ nbEpisodesSeen }}</td>
            <td>{{ cumulativeTime }}min</td>
            <td>{{ nbComments }}</td>
        </tr>
    </table>

{% endblock %}
