{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="profile_container">
            <div class="profile_picture">
                <img src="{{ app.user.avatar ? asset(base_url~"/images/users/"~app.user.avatar)
                : asset(base_url~"/img/blanck.jpg")}}"
                     alt="photo de profile de {{ app.user.username }}">
            </div>
            <div class="profile_informations">
                <div class="profile_nom">
                    <h3>{{ app.user.username }}</h3>
                    <h5>Inscrit(e) depuis le {{ app.user.createdat|date('d/m/Y') }} </h5>
                </div>
                <div class="profile_stats">
                    <div class="watchtime">
                        <span class="important">{{ cumulativeTime }}</span>
                        <span>Temps de visionnage</span>
                    </div>
                    <div class="episodes_vus">
                        <span class="important">{{ nbEpisodesSeen }}</span>
                        <span>Episodes vus</span>
                    </div>
                    <div class="commentaires">
                        <span class="important">{{ nbComments }}</span>
                        <span>Commentaires rédigés</span>
                    </div>
                </div>
            </div>
        </div>

        {% if comments %}
            <div class="container_com">
                <h1>Derniers <span class="textOrange">commentaires</span> rédigés</h1>
                <div class="list_com">
                    {% for comment in comments %}
                        {% if comment.validated or is_granted('ROLE_ADMIN') %}
                            <div class="com">
                                <img src="{{ asset("images/users/"~comment.User.avatar) }}" alt="">
                                <div class="textes_com">
                                    <h2>{{ comment.user }}</h2>
                                    {{ comment.content|raw }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
